body {
  margin: 0;
}

nav {
  background-color: #eeeeee;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 1px solid #777;
}

nav a {
  color: black;
  background-color: #eeeeee;
  border: 1px solid #777;
  padding: 3px 15px;
  text-decoration: none;
  font-size: 14px;
}

nav a:first-child {
  background-color: #d0d0d0;
}

.container {
  width: 575px;
  height: 825px;
  background-color: #797978;
  padding-left: 30px;
}

/* everything else stays the same */


.container {
  width: 575px;
  height: 825px;

  background-color: #797978;
  padding-left: 30px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}